body {background: linear-gradient(green, yellow, black);
    font-family: 'Abel', sans-serif;}
h1 {display:block;margin: 50px auto;
    font-family: 'Anton', sans-serif;
    width: 300px;
border-bottom: 5px solid black;}
#img-Isle {display: block; 
    width: 900px;
    height: 250px; 
    margin: -1px auto;}
.look {display:flex; 
    justify-content: center;
     align-items: center;}
figure {text-align: center;}
p {margin:40px;font-style: italic; font-family: inherit; 
    font: bold;}
.img-fam {width: 200px;
       height: 150px; border-radius: 50%;
       border-bottom: 8px solid black} 
.img-town {
      width: 200px;
       height: 150px; border-radius: 50%;
       border-bottom: 8px solid black;}
.img-sch {width: 200px;
       height: 150px; border-radius: 50%;
       border-bottom: 8px solid black}
#img-me {width: 100px; height: 150px; border: 1px blue;}
#business {display: flex; 
    justify-content: space-around; 
    margin: 60px 50px; 
    padding: 10px 10px; border: 1px dotted yellowgreen;
background-image: url("/home/chavoughnvassell/background.jpg");
background-size: cover;}
#bus-me {margin: 0px auto; color: lightblue; text-shadow: 0px 0px 10px black ;}